# dependencies
node_modules/

# build
/dist/

# environment
.env
.env.*
!.env.example
!.env.test

# editor
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# package locks
pnpm-lock.yaml
yarn.lock
package-lock.json

# os
.DS_Store
Thumbs.db
